In [2]:
import pandas as pd

# Đọc dữ liệu từ các tệp CSV
book = pd.read_csv('./Books.csv', low_memory=False)
rating = pd.read_csv('./Ratings.csv', low_memory=False)
users = pd.read_csv('./Users.csv', low_memory=False)

# Kết hợp các bảng dữ liệu
df1 = book.merge(rating, how="left", on="ISBN")
df_ = df1.merge(users, how="left", on="User-ID")

# Tạo một bản sao của dữ liệu đã kết hợp
df = df_.copy()

# Xem trước dữ liệu
print(df.head())

         ISBN           Book-Title           Book-Author Year-Of-Publication  \
0  0195153448  Classical Mythology    Mark P. O. Morford                2002
1  0002005018         Clara Callan  Richard Bruce Wright                2001
2  0002005018         Clara Callan  Richard Bruce Wright                2001
3  0002005018         Clara Callan  Richard Bruce Wright                2001
4  0002005018         Clara Callan  Richard Bruce Wright                2001

                 Publisher                                        Image-URL-S  \
0  Oxford University Press  http://images.amazon.com/images/P/0195153448.0...
1    HarperFlamingo Canada  http://images.amazon.com/images/P/0002005018.0...
2    HarperFlamingo Canada  http://images.amazon.com/images/P/0002005018.0...
3    HarperFlamingo Canada  http://images.amazon.com/images/P/0002005018.0...
4    HarperFlamingo Canada  http://images.amazon.com/images/P/0002005018.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0002005018.0...
3  http://images.amazon.com/images/P/0002005018.0...
4  http://images.amazon.com/images/P/0002005018.0...

                                         Image-URL-L  User-ID  Book-Rating  \
0  http://images.amazon.com/images/P/0195153448.0...      2.0          0.0
1  http://images.amazon.com/images/P/0002005018.0...      8.0          5.0
2  http://images.amazon.com/images/P/0002005018.0...  11400.0          0.0
3  http://images.amazon.com/images/P/0002005018.0...  11676.0          8.0
4  http://images.amazon.com/images/P/0002005018.0...  41385.0          0.0

                    Location   Age
0  stockton, california, usa  18.0
1   timmins, ontario, canada   NaN
2    ottawa, ontario, canada  49.0
3              n/a, n/a, n/a   NaN
4   sudbury, ontario, canada   NaN

In [3]:
df.shape

(1032345, 12)

In [4]:
#Deleting missing observations in the dataset
df.info()
df.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032345 entries, 0 to 1032344
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1032345 non-null  object
 1   Book-Title           1032345 non-null  object
 2   Book-Author          1032343 non-null  object
 3   Year-Of-Publication  1032345 non-null  object
 4   Publisher            1032343 non-null  object
 5   Image-URL-S          1032345 non-null  object
 6   Image-URL-M          1032345 non-null  object
 7   Image-URL-L          1032341 non-null  object
 8   User-ID              1031136 non-null  float64
 9   Book-Rating          1031136 non-null  float64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(3), object(9)
memory usage: 94.5+ MB

In [5]:
#Converting User-ID and Age variable types to int
df['User-ID'] = df['User-ID'].astype('int')
df['Age'] = df['Age'].astype('int')

In [6]:
#Author of The Da Vinci Code written in two different ways
df["Book-Author"]=df["Book-Author"].astype("string")
df["Book-Author"]=df["Book-Author"].str.replace("DAN BROWN","Dan Brown")

In [7]:
################################################################################
import pandas as pd
from unidecode import unidecode

# Giả sử bạn đã có dataframe df với cột "Book-Author"
df["Book-Author"] = df["Book-Author"].astype("string")

# 1. Sửa lỗi mã hóa
df["Book-Author"] = df["Book-Author"].apply(lambda x: unidecode(x))

# 2. Loại bỏ khoảng trắng thừa ở đầu và cuối chuỗi
df["Book-Author"] = df["Book-Author"].str.strip()

# 3. Loại bỏ khoảng trắng thừa giữa các từ
df["Book-Author"] = df["Book-Author"].str.replace(r'\s+', ' ', regex=True)

# 4. Chuyển đổi thành Title Case (chữ đầu viết hoa)
df["Book-Author"] = df["Book-Author"].str.title()

# In lại các tác giả độc nhất
unique_authors = df["Book-Author"].unique()

# Xuất lại thành file CSV hoặc text sau khi chuẩn hóa
authors_df = pd.DataFrame(unique_authors, columns=["Book-Author"])
authors_df.to_csv('unique_authors_cleaned.csv', index=False)

In [8]:
################################################################################
import pandas as pd
import re
from unidecode import unidecode

# Giả sử bạn đã có dataframe df với cột "Book-Author"
df["Book-Author"] = df["Book-Author"].astype("string")

# 1. Sửa lỗi mã hóa và chuyển đổi ký tự đặc biệt
df["Book-Author"] = df["Book-Author"].apply(lambda x: unidecode(x))

# 2. Loại bỏ khoảng trắng thừa ở đầu và cuối chuỗi
df["Book-Author"] = df["Book-Author"].str.strip()

# 3. Loại bỏ khoảng trắng thừa giữa các từ
df["Book-Author"] = df["Book-Author"].str.replace(r'\s+', ' ', regex=True)

# 4. Chuyển đổi thành Title Case (chữ đầu viết hoa)
df["Book-Author"] = df["Book-Author"].str.title()

# 5. Thay thế các ký tự đặc biệt như "(C)" bằng các ký tự chuẩn
df["Book-Author"] = df["Book-Author"].str.replace(r'\(C\)', 'C', regex=True)  # Thay "(C)" bằng 'C'

# 6. Các trường hợp đặc biệt cần thay thế
# Ví dụ: "Fra(C)Da(C)Ric" => "Frédéric"
df["Book-Author"] = df["Book-Author"].replace({
    "Fra(C)Da(C)Ric": "Frédéric",
    "Rush H., Iii Limbaugh": "Rush H. Limbaugh"
}, regex=True)

# In lại các tác giả độc nhất
unique_authors = df["Book-Author"].unique()

# Xuất lại thành file CSV hoặc text sau khi chuẩn hóa
authors_df = pd.DataFrame(unique_authors, columns=["Book-Author"])
authors_df.to_csv('unique_authors_cleaned.csv', index=False)

# Hoặc xuất thành file text
with open('unique_authors_cleaned.txt', 'w') as file:
    for author in unique_authors:
        file.write(f"{author}\n")

In [9]:
################################################################################
import pandas as pd
import csv  # Để sử dụng csv.QUOTE_NONE

# Đọc tệp CSV
authors_df = pd.read_csv('unique_authors_cleaned.csv')

# Loại bỏ dấu " trong cột Book-Author
authors_df['Book-Author'] = authors_df['Book-Author'].str.replace('"', '')

# Ghi lại tệp CSV mà không có dấu " bao quanh tên tác giả
authors_df.to_csv('unique_authors_cleaned_no_quotes.csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')

print("Đã loại bỏ dấu \" trong tên tác giả và lưu lại tệp CSV.")

Đã loại bỏ dấu " trong tên tác giả và lưu lại tệp CSV.

In [10]:
# Chuẩn hóa tên tác giả
df["Book-Author"] = df["Book-Author"].str.title()

# Lưu DataFrame vào file CSV
df.to_csv("Books_with_normalized_authors.csv", index=False, encoding='utf-8')

In [11]:
#Author of Dreamcatcher book correcting incorrect entries
df["Book-Author"]=df["Book-Author"].str.replace("Audrey Osofsky","Stephen King")
df["Book-Author"]=df["Book-Author"].str.replace("Dinah McCall","Stephen King")

In [12]:
#Extracting Image URL from dataset
df.drop(columns=["Image-URL-S","Image-URL-M"],inplace=True)

In [13]:
#Removing books with zero ratings from the data set
df=df[df["Book-Rating"]>0]
df["Book-Rating"].describe()

count    269616.000000
mean          7.736143
std           1.814535
min           1.000000
25%           7.000000
50%           8.000000
75%           9.000000
max          10.000000
Name: Book-Rating, dtype: float64

In [14]:
#Unique reader count
df["User-ID"].nunique()

40543

In [15]:
#Unique number of books
df["Book-Title"].nunique()

109208

In [16]:
#We found how many books users read
df.groupby('User-ID')['Book-Title'].agg('count').sort_values()

User-ID
19           1
158169       1
158156       1
158152       1
158121       1
          ...
16795      959
171118     962
235105    1020
153662    1845
98391     5689
Name: Book-Title, Length: 40543, dtype: int64

In [17]:
#How many times have we read which book?
book_counts = pd.DataFrame(df["Book-Title"].value_counts())

In [18]:
book_counts.sort_values("count", ascending=False, inplace=True)

In [19]:
# Tìm các sách hiếm (được đọc ít hơn hoặc bằng 100 lần)
rare_book = book_counts[book_counts["count"] <= 90].index

In [20]:
#Number of rarely read books
rare_book.nunique()

109092

In [21]:
#By removing the rare books from the dataset, we found the widely read books
common_book = df[~df["Book-Title"].isin(rare_book)]
common_book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,User-ID,Book-Rating,Location,Age
108,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,7346,9.0,"sunnyvale, california, usa",49
109,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,7352,8.0,"houston, texas, usa",53
113,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,11224,6.0,"tumwater, washington, usa",51
116,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,12923,10.0,"louisville, kentucky, usa",39
117,0440234743,The Testament,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,13552,8.0,"cordova, tennessee, usa",32

In [22]:
# Chọn cột 'ISBN' và 'Book-Title' từ common_book, loại bỏ bản sao
title_unique = common_book["Book-Title"].drop_duplicates()

# Lưu vào file CSV
title_unique.to_csv("title_unique.csv", index=False)

In [23]:
#User-Book matrix
user_book_df = common_book.pivot_table(index=["User-ID"], columns=["Book-Title"], values="Book-Rating")
user_book_df.to_csv("user_book_matrix.csv")

In [24]:
#We chose a book
book_name="The Da Vinci Code"

In [25]:
#We found the points given to the book
book_name=user_book_df[book_name]
book_name.sort_values(ascending=False)

User-ID
638       10.0
93467     10.0
240567    10.0
239692    10.0
237805    10.0
          ...
278798     NaN
278800     NaN
278843     NaN
278844     NaN
278846     NaN
Name: The Da Vinci Code, Length: 8388, dtype: float64

In [26]:
user_book_df.corrwith(book_name).sort_values(ascending=False).head()

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

Book-Title
The Da Vinci Code                                      1.000000
The Divine Secrets of the Ya-Ya Sisterhood: A Novel    0.944911
Ender's Game (Ender Wiggins Saga (Paperback))          0.944911
Where the Heart Is (Oprah's Book Club (Paperback))     0.921274
The Hitchhiker's Guide to the Galaxy                   0.860663
dtype: float64

In [27]:
rec_book=user_book_df.corrwith(book_name).sort_values(ascending=False).head()
rec_book_list=list(rec_book.index)

rec_book_list

['The Da Vinci Code',
 'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 "Ender's Game (Ender Wiggins Saga (Paperback))",
 "Where the Heart Is (Oprah's Book Club (Paperback))",
 "The Hitchhiker's Guide to the Galaxy"]

In [28]:
#Authors of 5 books we recommend
df_author=df[["Book-Title","Book-Author"]]
df_author.head()

df1 = df_author.loc[df_author["Book-Title"].isin(rec_book_list)]

df2=df1.drop_duplicates(subset=["Book-Author","Book-Author"], keep="first")
df2

                                               Book-Title       Book-Author
12484                The Hitchhiker's Guide to the Galaxy     Douglas Adams
39579   Where the Heart Is (Oprah's Book Club (Paperba...      Billie Letts
41270                                   The Da Vinci Code         Dan Brown
47952       Ender's Game (Ender Wiggins Saga (Paperback))  Orson Scott Card
129724  The Divine Secrets of the Ya-Ya Sisterhood: A ...     Rebecca Wells

In [29]:
df2.shape

(5, 2)